
html
{
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: #303030;
    padding: 0px;
    margin: 0px;
    font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
    color: #f7f7f7;
}

h1
{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 4%;
    font-size: 150%;
    text-align: center;
    color: #80bd06;
}

h2
{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 1%;
    font-size: 110%;
    color: #80bd06;
}

a
{
    color: #ffffff;
    text-decoration: inherit;
}

a.visible
{
    color: #ccccff;
}

address a
{
    font-size: 60%;
    color: inherit;
}

h2.subtitle
{
    margin-top: 30%;
    font-size: 120%;
    text-align: center;
    font-style: italic;
}

p.mid
{
    margin-top: 20%;
}

p.centre
{
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
    text-align: center;
    width: 80%;
}

p
{
    margin-bottom: 2%;
    margin-top: 1%;
}

ul
{
    margin-top: 2%
}

li
{
    padding-left: 0.7%;
    margin-bottom: 2%;
}

table
{
    padding: 0px;
    margin: 0px;
}

tr
{
    padding: 0px;
    margin: 0px;
}

th
{
    padding: 0px;
    margin: 0px;
}

td
{
    font-size: 90%;
    width: 50%;
    vertical-align: top;#
    padding: 0px;
    margin: 0px;
}

em
{
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: #ff7777;
    font-style: normal;
}

tt
{
    color: #A0C874;
}

pre
{
    overflow: hidden;
    background-color: #1d1d1d;
    color: #A0C874;
    border: 4px solid #999999;
    font-family: "Ubuntu Mono", "Courier New", monospace;
    font-size: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0.75%;
}

pre.small
{
    border: none;
    margin: 0px;
    font-size: 60%;
}

pre.tiny
{
    font-size: 40%;
}

div.notepad
{
    margin: 2%;
    border: 4px solid black;
    padding: 0px;
    border: 4px solid #777777;
    border-radius: 4px;
}

div.notepad div.title
{
    background-color: #000055;
    padding-left: 1%;
    color: white;
}

div.notepad pre
{
    background-color: white;
    border-style: solid;
    border-color: #777777;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 4px;
    padding: 0.75%;
    margin: 0px;
    font-family: "Comic Sans MS", Arial, sans-serif;
    font-size: 90%;
}

div.notepad pre.small
{
    font-size: 60%;
}

div.image
{
    text-align: center;
}

img.large
{
    width: 80%;
    height: 70%;
}

img.fullheight
{
    max-height: 70%;
}

img.mostheight
{
    max-height: 60%;
}

img.large.wide
{
    width: 100%;
    height: 50%;
}

div.slide
{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

div.slide_body
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /*border: 1px solid black;*/
}

div.slide.title h1
{
    margin-top: 15%;
    margin-bottom: 0px;
    margin-left: 3%;
    margin-right: 4%;
    font-size: 175%;
}

div.slide.title h2
{
    margin-top: 0px;
    font-size: 120%;
    text-align: center;
}


div.slide.title address
{
    margin-top: 7%;
    font-style: normal;
    text-align: center;
    font-size: 100%;
}

div.slide.contents a
{
    color: inherit;
    text-decoration: inherit;
}

table.moreinfo
{
    border: 0px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1%;
}

table.moreinfo th
{
    font-weight: normal;
    text-align: right;
    width: 30%;
    padding: 1%;
    padding-right: 3%;
    vertical-align: bottom;
    font-size: 90%;
}

table.moreinfo td
{
    font-weight: normal;
    text-align: left;
    vertical-align: bottom;
    width: 70%;
    padding: 1%;
    font-size: 90%;
}

table.moreinfo td a
{
    text-decoration: none;
}

blockquote
{
    background-color: #1d1d1d;
    color: #A0C874;
    border: 4px solid #999999;
    font-size: 90%;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0.75%;
}

div.cc
{
    top: 5%;
    right: 5%;
    position: absolute;
    font-size: 25%;
    text-align: right;
}

div.cc img
{
    float: right;
    max-width: 88px;
    max-height: 31px;
    border-width: 0px;
    width: 25%;
    margin-left: 0.75em;
    margin-top: 0.25em;
}
